<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">planr</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span>
                    <span class="nav-text">Gantt Chart</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="impact-effort">
                <span class="bi bi-check2-square-nav-menu" aria-hidden="true"></span>
                    <span class="nav-text">Impact-Effort Matrix</span>
            </NavLink>
        </div>
    </nav>
</div>

