/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-rx7xehdw1e] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-rx7xehdw1e] {
  flex: 1;
}

.sidebar[b-rx7xehdw1e] {
  background-color: rgb(5, 39, 103);
}

.top-row[b-rx7xehdw1e] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-rx7xehdw1e]  a,
.top-row[b-rx7xehdw1e]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-rx7xehdw1e]  a:hover,
.top-row[b-rx7xehdw1e]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-rx7xehdw1e]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row[b-rx7xehdw1e] {
    justify-content: space-between;
  }

  .top-row[b-rx7xehdw1e]  a,
  .top-row[b-rx7xehdw1e]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-rx7xehdw1e] {
    flex-direction: row;
  }

  .sidebar[b-rx7xehdw1e] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: width 0.2s ease-in-out;
  }

  .sidebar.collapsed[b-rx7xehdw1e] {
    width: 60px;
  }

  .top-row[b-rx7xehdw1e] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-rx7xehdw1e]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-rx7xehdw1e],
  article[b-rx7xehdw1e] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}

.sidebar[b-rx7xehdw1e] {
  width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  transition: width 0.2s ease-in-out;
}

.sidebar.collapsed[b-rx7xehdw1e] {
  width: 60px;
}

.top-row[b-rx7xehdw1e] {
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-row.auth[b-rx7xehdw1e]  a:first-child {
  flex: 1;
  text-align: right;
  width: 0;
}

.top-row[b-rx7xehdw1e],
article[b-rx7xehdw1e] {
  padding-left: 2rem !important;
  padding-right: 1.5rem !important;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.top-row[b-0ysmut0i3n] {
  min-height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-0ysmut0i3n] {
  font-size: 1.1rem;
  transition: opacity 0.2s ease-in-out;
}

.bi[b-0ysmut0i3n] {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  top: -1px;
  background-size: cover;
}

.bi-bar-chart-fill-nav-menu[b-0ysmut0i3n] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-bar-chart-fill' viewBox='0 0 16 16'%3E%3Cpath d='M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-0ysmut0i3n] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-check2-square-nav-menu[b-0ysmut0i3n] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-check2-square' viewBox='0 0 16 16'%3E%3Cpath d='M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z'/%3E%3Cpath d='m10.97 4.97-.02.022-3.473 3.472-.842.842-.638-.639L3.02 7.22a.75.75 0 0 1 1.06-1.06l2.223 2.223 3.473-3.473a.75.75 0 0 1 1.06 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-0ysmut0i3n] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-bullseye-nav-menu[b-0ysmut0i3n] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='white' stroke-width='1.5' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='7'/%3E%3Ccircle cx='8' cy='8' r='4'/%3E%3Ccircle cx='8' cy='8' r='1.5' fill='white'/%3E%3C/svg%3E");
}

.nav-item[b-0ysmut0i3n] {
  font-size: 0.9rem;
}

.nav-item[b-0ysmut0i3n]  a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  justify-content: flex-start;
  transition: all 0.2s ease-in-out;
}

.nav-text[b-0ysmut0i3n] {
  margin-left: 0.75rem;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.nav-item[b-0ysmut0i3n]  a.active {
  background-color: rgba(255, 255, 255, 0.37);
  color: white;
}

.nav-item[b-0ysmut0i3n]  a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.nav-scrollable[b-0ysmut0i3n] {
  /* Allow sidebar to scroll for tall menus */
  height: calc(100vh - 3.5rem);
  overflow-y: auto;
  transition: width 0.2s ease-in-out;
}
