name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Run Tests
        run: dotnet test --nologo

      - name: Publish .NET Core Project
        run: dotnet publish src/Planr.Wasm/Planr.Wasm.csproj -c Release -o release --nologo

      # Copy .nojekyll from root to the publish output to ensure _framework folder works
      - name: Copy .nojekyll
        run: cp .nojekyll release/wwwroot/

      - name: Update base href for GitHub Pages
        run: sed -i 's/<base href="\/" \/>/<base href="\/planr\/" \/>/g' release/wwwroot/index.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: release/wwwroot
